@import "~bootstrap/scss/bootstrap";

.navbar {
    li,
    a {
        font-size: large;
        font-weight: bold;
        margin: 0 15px;
    }
}

main {
    height: 200vh;
    padding-top: 15px;
    background-image: linear-gradient(
        to top,
        #0c0707 0%,
        #2410d7 50%,
        #13eaf5 100%
    );
    color: $gray-200;
}
table {
    font-size: 20px;
    font-weight: 600;
}
.dettaglio-canzone {
    color: $red-700;
}

.table > thead {
    vertical-align: middle;
}

.btn {
    padding: 7px 15px;
    border: 2px solid $gray-200;
}

.create-form {
    border: 2px solid $gray-200;
    padding: 1rem;
    label {
        margin-top: 2rem;
        font-size: 22px;
        font-weight: 600;
    }
}
